@media (max-width:1330px) {
    .fixed-width {
        width: 100%;
        max-width: 100%;
        margin: auto;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
    }
    .service-item p {
        font-size: 17px;
        padding: 0 9px;
    }
    .service-item h3 {
        font-size: 22px;
        padding: 15px 0;
    }
    .right-text p {
        font-size: 15px;
        line-height: 25px;
        padding-bottom: 0;
    }
}

@media (max-width:1252px) {
    .menu ul li a {
        padding: 0 11px;
        font-size: 16px;
    }
    .logo a h1 {
        font-size: 30px;
    }
    .banner-section {
        padding: 130px 0;
    }
    .content h1 {
        font-size: 60px;
        padding-bottom: 15px;
    }
    .content h5 {
        font-size: 23px;
        padding-bottom: 44px;
    }
    .content a {
        padding: 11px 20px;
        font-size: 18px;
    }
    .top-sec h2 {
        font-size: 37px;
    }
    .top-sec p {
        font-size: 18px;
    }
    .bottom-sec {
        margin: 0 100px;
    }
    .service-item {
        margin: 0 15px;
    }
    .service-item i {
        font-size: 35px;
        padding-bottom: 3px;
    }
    .service-item h3 {
        font-size: 16px;
        padding: 15px 0;
    }
    .service-item p {
	font-size: 16px;
	padding: 0 9px;
    }
    .top-sec h2 {
        font-size: 22px;
    }
    
    .contact-item i {
        font-size: 23px;
        padding: 13px 0;
    }
    .contact-item p {
        font-size: 18px;
        padding: 2px 0;
    }
    .image {
        width: 46%;
    }
    .image img {
        width: 530px;
    }
    .right-text {
        width: 50%;
        margin-top: 15px;
    }
    .right-text h3 {
        padding: 0px;
    }
}

@media (max-width:1174px) {
    .right-text {
        margin-top: 15px;
    }
    .right-text h3 {
        font-size: 18px;
    }
    .right-text p {
        font-size: 14px;
    }
    .image img {
        width: 510px;
        height: 361px;
    }
    
   
}
/* @media (max-width:1174px) {
    .image {
        width: 100%;
        text-align: center;
    }
    .image img {
        width: 600px;
    }
    .right-text {
        width: 77%;
    }
    .right-text p {
        padding-right: 50px;
    }
    .right-text p {
        font-size: 14px;
    }
} */

@media (max-width:1100px) {
    .image img {
        width: 484px;
    }
    .right-text h3 {
        font-size: 16px;
    }
    .right-text p {
        font-size: 13px;
    }

}
@media (max-width:1050px) {
    .image img {
        width: 465px;
        height: 344px;
    }
    .right-text h3 {
        font-size: 16px;
    }
    .right-text p {
        margin-top: -8px;
    }
}
@media (max-width:1000px) {
    .image img {
        width: 443px;
        height: 361px;
    }
    .menu {
        width: 66%;
    }
    .logo {
        width: 30%;
    }
}

@media (max-width:972px) {
    .menu ul li a {
        padding: 0 10px;
        font-size: 14px;
    }
    .logo a h1 {
        font-size: 28px;
    }
    .menu {
        width: 68%;
    }
    .logo {
        width: 30%;
    }
    .banner-section {
        padding: 100px 0;
    }
    .content h1 {
        font-size: 47px;
        padding-bottom: 13px;
    }
    .content h5 {
        font-size: 20px;
        padding-bottom: 34px;
    }
    .content a {
        padding: 9px 18px;
        font-size: 18px;
    }
    .top-sec h2 {
        font-size: 25px;
    }
    .top-sec p {
        font-size: 13px;
    }
    .bottom-sec {
        margin: 0 60px;
    }
    .service-item i {
        font-size: 33px;
        padding-bottom: 3px;
    }
    .service-item h3 {
        font-size: 23px;
        padding: 15px 0;
    }
    .service-item p {
        font-size: 16px;
        padding: 0 3px;
    }
    .top-sec p {
        font-size: 12px;
    }
    .contact-item p {
        font-size: 17px;
    }
    .menu ul li a {
        line-height: 25px;
    }
    .image img {
        width: 422px;
    }
    .service-item {
        width: 43%;
    }
    .service-item {
        margin: 14px 15px;
    }
   
}
@media (max-width:900px) {
    .image img {
        width: 397px;
        height: 383px;
    }
}
@media (max-width:868px){
    .image {
        width: 100%;
    }
    .image img {
        width: 693px;
        padding-left: 35px;
    }
    .right-text {
        width: 96%;
        padding-right: 100px;
    }

}
@media (max-width:768px) {
    .logo a h1 {
        font-size: 21px;
    }
    .menu ul li a {
        padding: 0 9px;
        font-size: 12px;
    }
    .menu {
        width: 69%;
    }
    .logo {
        width: 29%;
    }
    .banner-section {
        padding: 90px 0;
    }
    .content h1 {
        font-size: 40px;
        padding-bottom: 10px;
    }
    .content h5 {
        font-size: 19px;
        padding-bottom: 30px;
    }
    .content a {
        padding: 8px 16px;
        font-size: 17px;
    }
    .top-sec h2 {
        font-size: 25px;
        padding-bottom: 17px;
    }
    .top-sec p {
        font-size: 13px;
    }
    .service-item {
        margin: 25px 20px;
    }
    .service-item i {
        font-size: 30px;
        padding-bottom: 3px;
    }
    .service-item h3 {
        font-size: 19px;
        padding: 15px 0;
    }
    .service-item p {
        font-size: 15px;
    }
    .service-item {
        margin: 25px 20px;
        width: 40%;
    }
    .contact-item p {
        font-size: 15px;
    }
    .contact-item i {
        padding: 11px 0;
    }
    .menu ul li a {
        padding: 0 8px;
        font-size: 10px;
        line-height: 25px;
    }
    .header {
        padding: 14px 0;
    }
    .image img {
        width: 653px;
    }
    .right-text {
        width: 95%;
        padding-right: 16px;
    }
    .menu ul li a {
        font-size: 14px;
    }
   
}

@media (max-width:690px) {
    .image img {
        width: 602px;
    }
    .right-text {
        width: 95%;
        padding-right: 41px;
    }
    .menu {
        width: 71%;
    }
    .menu ul li a {
        font-size: 13px;
    }
}

@media (max-width:640px) {
    .image img {
        width: 569px;
    }
    .right-text {
        width: 94%;
        padding-right: 7px;
    }
    .menu ul li a {
        padding: 0 4px;
    }
}
@media (max-width:620px) {
    .menu ul li a {
        padding: 0 8px;
        font-size: 11px;
    }
    .logo a h1 {
        font-size: 19px;
    }
    .banner-section {
        padding: 80px 0;
    }
    .content h1 {
        font-size: 34px;
        padding-bottom: 7px;
    }
    .content h5 {
        font-size: 17px;
        padding-bottom: 22px;
    }
    .content a {
        padding: 7px 15px;
        font-size: 16px;
    }
    .top-sec h2 {
        font-size: 25px;
        padding-bottom: 11px;
    }
    .top-sec p {
        font-size: 12px;
    }
    .service-item h3 {
        font-size: 18px;
        padding: 14px 0;
    }
    .service-item p {
        font-size: 14px;
    }
    .contact-item p {
        font-size: 13px;
    }
    .menu ul li a {
        padding: 0 4px;
        font-size: 13px;
    }
    .image {
        width: 90%;
    }
    .image img {
        width: 545px;
    }
    .right-text {
        padding-right: 20px;
    }
    .right-text {
        margin-top: 28px;
    }
    .right-text h3 {
        margin-bottom: 21px;
    }
  
}

@media (max-width:576px) {
    .menu ul {
        display: none;
    }
    .menu {
        text-align: right;
    }
   
    .responsive-ul {
        display: block !important;
        padding-left: 0;
    }
    .responsive-ul li a {
        color: #22c3a3!important;
        font-size: 16px !important;
        padding-bottom: 10px !important;
    }
    .responsive-menu {
        display: block;
    }
    .responsive-ul li {
        display: block !important;
        text-align: left;
    }
    .button1 {
        color: #22c3a3;
        background: #fff;
        border-color: #22c3a3;
    }
    .btn-check:focus + .btn, .btn:focus {
        outline: 0;
        box-shadow: 0 0 0 .25rem #fff !important;
    }
    .logo {
        width: 52%;
    }
    .logo a h1 {
        font-size: 19px;
        margin-top: 5px;
    }
    .menu {
        width: 20%;
    }
    .header {
        padding: 9px 0;
    }
    .banner-section {
        padding: 63px 0;
    }
    .content h1 {
        font-size: 25px;
        padding-bottom: 4px;
    }
    .content h5 {
        font-size: 15px;
        padding-bottom: 14px;
    }
    .content a {
        padding: 6px 13px;
        font-size: 15px;
    }
    .service-item {
        width: 100%;
    }
    .section-bottom {
        margin: 0;
    }
    .footer-bottom {
        padding: 24px 0;
    }
    .image img {
        width: 500px;
    }
    .right-text {
        padding-right: 34px;
    }
    .offcanvas-end {
        width: 300px;
    }
    .top-sec {
        padding-bottom: 0px;
    }
    .footer {
        padding: 15px 0;
    }
    .footer-bottom {
        padding: 15px 0;
    }

}
@media (max-width:535px){
    .right-text {
        padding-right: 19px;
        width: 93%;
    }
    .image img {
        width: 467px;
    }
    .image {
        width: 100%;
    }
}
@media (max-width:500px) {
    .image img {
        width: 434px;
    }
}
@media (max-width:468px) {
    .image img {
        width: 400px;
        padding-left: 2px;
    }
    .right-text {
        width: 100%;
    }
    .offcanvas-end {
        width: 240px;
    }
    .image img {
        height: 270px;
    }
   
}
@media (max-width:440px) {
    .right-text {
        padding-right: 16px;
    }
    .image img {
        width: 370px;
    }
    .footer-bottom p {
        font-size: 12px;
    }
}

@media (max-width:420px){
    .banner-section {
        padding: 50px 0;
    }
    .content h1 {
        font-size: 20px;
        padding-bottom: 2px;
    }
    .content h5 {
        font-size: 11px;
        padding-bottom: 10px;
    }
    .content a {
        padding: 5px 11px;
        font-size: 13px;
    }
    .service {
        padding: 47px 0;
    }
    .top-sec {
        padding-bottom: 0px;
    }
    .top-sec h2 {
        font-size: 19px;
        padding-bottom: 8px;
    }
    .top-sec p {
        font-size: 12px;
    }
    .bottom-sec {
        margin: 0 21px;
        padding: 44px 0;
    }
    .service-item {
        margin: 20px 8px;
    }
    .service-item h3 {
        font-size: 20px;
        padding: 14px 0;
    }
    .service-item p {
        font-size: 15px;
    }
    .contact-item {
        width: 100%;
        padding-top: 15px;
    }
    .social li a {
        padding: 0 9px;
        font-size: 17px;
    }
    .social {
        padding-left: 0;
    }
    .footer {
        padding: 15px 0;
    }
    .footer-bottom {
        padding: 18px 0;
    }
    .footer-bottom p {
        font-size: 14px;
    }
    .right-text {
        padding-right: 21px;
    }
    .image img {
        height: 290px;
        width: 340px;
    }
}
@media (max-width:380px) {
    .right-text {
        padding-right: 23px;
    }
    .image img {
        height: 200px;
        width: 300px;
    }
    .offcanvas-end {
        width: 200px;
    }
}
@media (max-width:340px) {
    .right-text {
        padding-right: 14px;
    }
    .image img {
        height: 220px;
        width: 280px;
    }
    .contact {
        padding: 50px 0;
    }
    .footer-bottom p {
        font-size: 12px;
    }
}
@media (max-width:320px) {
    .image img {
        height: 210px;
        width: 254px;
    }
    .content a {
        padding: 4px 10px;
        font-size: 12px;
    }
    .content h1 {
        font-size: 19px;
    }
}
@media (max-width:300px) {
    .right-text {
        padding-right: 22px;
    }
    .image img {
        height: 215px;
        width: 240px;
    }
    .banner-section {
        padding: 42px 0;
    }
    .content h1 {
        font-size: 18px;
    }
    .content h5 {
        font-size: 10px;
        padding-bottom: 5px;
    }
    .content a {
        padding: 3px 8px;
        font-size: 10px;
    }
    .footer-bottom p {
        font-size: 11px;
    }
    .offcanvas-end {
        width: 186px;
    }
    .logo a h1 {
        font-size: 18px;
    }
}
